@charset "UTF-8";

body {
    background-color: aqua;
}

section {
    background-color: rgba(73, 73, 207, 0.767);
    width: 60vw;
    height: 70vh;
    margin: auto;
    border-radius: 20px;
    box-shadow: 4px 4px 6px white;
}

h1 {
    text-align: center;
    font-size: 30px;
}

p {
    text-align: center;
    font-size: 20px;
}

div {
    text-align: center;
}
div > #foto {
    
}